@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
    <div class="text-center">
        <h1 class="display-4">About Ethos, Inc</h1>
        <p>We are a computing sales company dedicated to the sale of hardware.</p>
    </div>
</html>