@{
    ViewData["Title"] = "Shopping Cart";
}

<!DOCTYPE html>
<html>
    <body>
        <h1 class="display-4">Shopping Cart</h1>
        <p>This is where items in the shopping cart will be stored. We'll work on the C# for this after we get the database running.</p>
    </body>
</html>