@{
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>
<html>
    <body>
        <div class="row align-items-center justify-content-center" style="background-color: #201c1c">
            <p style="color: dimgrey; font-size: 60px; font-weight: bold;">&gt;</p>
            <p style="color: white; font-size: 60px; font-weight: bold;">Frequently Asked Questions</p>
            <p style="color: dimgrey; font-size: 60px; font-weight: bold;">&lt</p>
        </div>
        <div style="margin-top: 20px; text-align: center">
            <p>Click on any of the buttons to display the answer to their question.</p>
        </div>

        @* FAQ Boxes *@

        <div>
            @* Question 1 *@
            <button class="btn btn-primary question" type="button" data-target="#question1" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                What does your store sell?
            </button>
            <div class="collapse" id="question1">
                <div class="card card-body answer">
                    <p>We sell computing hardware products, including GPU's, CPU's, RAM, storage, motherboards, and more.</p>
                </div>
            </div>

            @* Question 2 *@
            <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question2" aria-expanded="false" aria-controls="collapseExample">
                Where did the name "Ethos" come from?
            </button>
            <div class="collapse" id="question2">
                <div class="card card-body answer">
                    <p>"Ethos" is a Greek word which is used to refer to ethics, character, and credibility.</p>
                </div>
            </div>

            @* Question 3 *@
            <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question3" aria-expanded="false" aria-controls="collapseExample">
                Where can I find your shipping policy?
            </button>
            <div class="collapse" id="question3">
                <div class="card card-body answer">
                    <p>All of our policies are listed under the "Policy" page, found in either the navigation bar at the top or footer at the bottom of the page.
                       <br/>Alternatively, you can click <a href="~/Policy" style="font-weight:bold">here.</a></p>
                </div>
            </div>
            
            @* Question 4 *@
            <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question4" aria-expanded="false" aria-controls="collapseExample">
                What if my product is taking longer to ship than expected?
            </button>
            <div class="collapse" id="question4">
                <div class="card card-body answer">
                    <p>
                    Please allow up to 30 days for your product to arrive. If 30 days passes, <b>contact our support team</b> using the phone number or email address 
                    listed in the <a href="~/About" style="font-weight:bold">About</a> page, and have your order number ready so we can quickly resolve the issue.
                    </p>
                </div>
            </div>

            @* Question 5 *@
            <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question5" aria-expanded="false" aria-controls="collapseExample">
                Are there physical store locations I can visit?
            </button>
            <div class="collapse" id="question5">
                <div class="card card-body answer">
                    <p>
                        Ethos Inc. is entirely an online service. While we do have warehouses for storing our products, we do not have any locations
                        where in-person purchases can be made.
                    </p>
                </div>
            </div>

            @* Question 6 *@
            <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question6" aria-expanded="false" aria-controls="collapseExample">
                Do I need an account to make purchases on your website?
            </button>
            <div class="collapse" id="question6">
                <div class="card card-body answer">
                    <p>
                        Our website does not require that users have an account before making a purchase. Instead of purchases being linked to an account, you are given an 
                        Order ID upon making a purchase, which you can then use to view your ordered items.
                    </p>
                </div>
            </div>

        @* Question 7 *@
        <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question7" aria-expanded="false" aria-controls="collapseExample">
            If a product I want is out of stock, when can I expect it to become available again?
        </button>
        <div class="collapse" id="question7">
            <div class="card card-body answer">
                <p>
                    There are many factors outside of our company's control that could delay a product from becoming available again. However, if you contact our support team, 
                    you may be able to get an estimation of when the item will be back in stock.
                </p>
            </div>
        </div>

        @* Question 8 *@
        <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question8" aria-expanded="false" aria-controls="collapseExample">
            Do you do repairs?
        </button>
        <div class="collapse" id="question8">
            <div class="card card-body answer">
                <p>
                    If a product was purchased from our website and is in need of repairs, contact our support team at the phone number or email listed in the <a href="~/About" style="font-weight:bold">About</a> page. 
                    There they will instruct you on how to send us your item, where one of our technicians will determine if your item can be fixed and how long it will take. If your item is still under our warranty,
                    repairs for the item are free! See our Repairs Policy under our <a href="~/Policy" style="font-weight:bold">Policy</a> page for more.
                </p>
            </div>
        </div>

        @* Question 9 *@
        <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question9" aria-expanded="false" aria-controls="collapseExample">
            Do you have seasonal deals for any of your products?
        </button>
        <div class="collapse" id="question9">
            <div class="card card-body answer">
                <p>
                    During the Summer and Winter seasons, Ethos Inc. holds many special deals which alternate every week of those seasons. We also hold several other deals
                    based around the holidays, such as our Black Friday deals.
                </p>
            </div>
        </div>

        @* Question 10 *@
        <button class="btn btn-primary question" type="button" data-toggle="collapse" data-target="#question10" aria-expanded="false" aria-controls="collapseExample">
            Where can I find out more about your company?
        </button>
        <div class="collapse" id="question10">
            <div class="card card-body answer">
                <p>
                    We suggest visiting our <a href="~/About" style="font-weight:bold">About</a> page to learn more about our company.
                </p>
            </div>
        </div>

            @* Remember to change id="question[NUM]" and data-target-"#question[NUM]"
               after adding another question or it won't work properly!*@
        </div>
    </body>
</html>