@{
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>
<html>
    <body>
        <div class="question">
            <p>This is question 1: And this is answer 1.</p>
        </div>
        <div class="question">
            <p>This is question 2: And this is answer 2.</p>
        </div>
    </body>
</html>