@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
    <h1>Login</h1>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="text-center">
        <p>To view your ordered items, enter the ID provided from your order.</p>
        <form>
            <div class="form-group">
                <input type="password" class="form-control" id="orderID" placeholder="Order ID">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>