@{
    ViewData["Title"] = "Shipping Policy";
}

<!DOCTYPE html>
<html>
    <div class="text-center">
        <h1 class="display-4">Business Policies</h1>
        <p>This page will detail the business policies, including shipping policy, rates, tax policy, and return policy.</p>
    </div>
</html>