@{
    ViewData["Title"] = "Shop";
}

<!DOCTYPE html>
<html>
    <div class="text-center">
        <h1 class="display-4">Shop</h1>
        <p>This is where we will list our products for sale, 
            probably using a database like in the 
            Project examples in Canvas or whatever</p>
    </div>
</html>