
.cursor {
    height: 60px;
    margin-left: 3px;
    width: 4px;
    background: black;
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s step-start infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.segment {
    font-size: 48px;
    text-decoration: underline;
}

.picture {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px 0px 0px
}

.role {
    font-size: 28px;
    margin-left: 10px;
    padding-top: 8px;
}
