namespace EthosInc.wwwroot.css

.button {
    border: solid black;
    background-color: white;
}

.img {
    width: 150px;
    height: 150px;
}

.product {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.page {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.description {
    color: white;
}

.box {
    display: inline-block;
    text-align: center;
    margin: 15px;
    width: 200px;
    max-width: 200px;
}